<h2>{{title}}</h2>
<select class="form-control" [(ngModel)]="category">
  <option value="null">Категория</option>
  <option *ngFor="let tag of tags" [ngValue]="tag.category">{{tag.category}}</option>
</select>
<p>Общее количество продукции: {{totalUnitOfProductions()}}.</p>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>id</th>
    <th>Категория</th>
    <th>Картинка</th>
    <th>Наименование</th>
    <th>Масса</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of (items | categoryFilter:category)">
    <td>{{item.id}}</td>
    <td>{{item.category}}</td>
    <td><img width="50px;" src="{{item.image}}"></td>
    <td>{{item.name}}</td>
    <td>{{item.mass}}</td>
    <td>{{item.price | currency:'BYN':true}}</td>
    <td *ngIf="item.inStock > 0">{{item.inStock}}</td>
    <td *ngIf="item.inStock === 0">нет на складе</td>
  </tr>
  </tbody>
</table>

