<h2>{{title}}</h2>
<p>Общее количество продукции: {{totalUnitOfProductions()}}.</p>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>id</th>
    <th>Наименование</th>
    <th>Срок годности</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let unitOfProduction of unitOfProductions">
    <td>{{unitOfProduction.id}}</td>
    <td>{{unitOfProduction.name}}</td>
    <td>{{unitOfProduction.description}}</td>
    <td>{{unitOfProduction.price}}</td>
    <td>{{unitOfProduction.inStock}}</td>
  </tr>
  </tbody>
</table>

